body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Esto evita el scroll horizontal */
    width: 100%;
}
/* Encabezado fijo */
.banner {
    margin: 0.4vh;
    position: relative; 
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 85vw; 
    border: 1px solid #27B8D1; 
    padding: 30px; 
    border-radius: 10px; 
    z-index: 1;  
}
/* Contenido del encabezado */
.header-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 100px; 
    flex-wrap: wrap;
}
/* Logo encabezado */
.logo img {
    width: 100px;
    height: auto; 
}
/* Menú del encabezado */
.navigation ul {
    list-style-type: none; 
    margin: 0;
    padding: 0; 
    display: flex; 
    gap: 4vw; 
    flex-wrap: wrap; 
    font-size: 1.2vw;
}
.navigation a {
    text-decoration: none;
    color: #002035;
    font-weight: bold;
    padding: 2px;
    border-radius: 20px;   
}
.navigation a:hover {
    color: #EE6930; /* Color del texto al pasar el ratón */
}
/* Título Principal */
.habitos-higiene h1 {
    text-align: center;
    color: #0e93b4;
    font-size: 2.5em;
    margin-top: 5vh;
}
/* Texto introductorio */
.intro-text {
    font-size: 1.5em;
    color: #444;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
    margin: 2vw ;
}
/* Imagenes principales */
.image-container {
    margin-left: 70vw;
    padding: 5px;
    width: 25vw;
    
}
/* Estilo para la lista numerada de consejos */
.consejos-perros {
    max-width: 60vw;
    margin-left: 4vw;
    text-align: justify;    
}

.consejos-perros h2 {
    color: #0e93b4;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: -50vh;
    
}

.consejos-perros ol {
    list-style-type: decimal; /* Números en los ítems */
    padding-left: 20px;
}

.consejos-perros ol li {
    font-size: 1.2em;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
}

.consejos-perros ol li b {
    color: #39bfe0; /* Resaltar el texto en negrita */
}
/* Estilo para la lista numerada de consejos */
.consejos-gatos {
    max-width: 60vw;
    margin: 4vw;
    text-align: justify;
    margin-left: 40vw;
    margin-top: -2vh;
}

.consejos-gatos h2 {
    color: #0e93b4;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: right;
}

.consejos-gatos ol {
    list-style-type: decimal; /* Números en los ítems */
    padding-left: 20px;
}

.consejos-gatos ol li {
    font-size: 1.2em;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
}

.consejos-gatos ol li b {
    color: #39bfe0; /* Resaltar el texto en negrita */
}

.main-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.image-container1{
    max-width: 30vw;
    margin-top: -60vh;
    padding-left: 5vw;
}
/* Contenedor del botón de WhatsApp */
.whatsapp-container {
    position: relative; /* Posicionamiento relativo para el contenedor */
    text-align: right; /* Alinea el botón a la derecha */
    padding-right: 80px;
    margin: 3%;
}

/* Estilo del botón de WhatsApp */
.whatsapp-button {
    border-radius: 0.4vw;
    display: inline-block; /* Para alinear con otros elementos en línea */
    background-color: #39A9DA; /* Color de fondo de WhatsApp */
    padding: 10px; /* Espaciado interno del botón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el botón */
    transition: transform 0.6s; /* Transición para efectos de hover */
    text-align: center; /* Centra el contenido */
    animation: moveUpDown 6s infinite; /* Aplica la animación de movimiento */
}

.whatsapp-button img {
    width: 200px; /* Tamaño del ícono */
    height: auto; /* Mantiene las proporciones del ícono */
}

.whatsapp-button:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el ratón */
}
/*PIE DE PANTALLA */
.footer {
    display: flex;
    background-color: #058da5; /* Color de fondo del pie de página */
    padding: 7px 30px; /* Ajusta el relleno para aumentar la altura */
    position: relative; /* Asegura que los elementos dentro se posicionen correctamente */
    color: black; /* Color del texto */
    font-size: 1vw; /* Tamaño del texto */
}
.footer-follow {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Alinea verticalmente el texto y los íconos */
    flex-direction: row;
    text-align: center; /* Centra el texto dentro del contenedor */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    gap: 5vw; /* Espacio entre el texto y los íconos */
}
.footer-text {
    margin: 0; /* Elimina el margen por defecto */
}
.social {
    display: 10px; /* Muestra los iconos en una fila */
    gap: 10px; /* Espacio entre los iconos */
}
.footer-section {
    padding-right: 4vw;
    font-family: Arial, sans-serif

}
.footer-logo {
    width: 10vw; /* Tamaño del logo */
    height: auto; /* Mantiene la proporción del logo */
    margin-top: 4vw; /* Ajusta este valor para mover el logo hacia abajo */
    border-radius: 5px;
    margin-left: -2vw;
    align-items: center;
    padding-left: 5vw;
}
.contact-info { /* Atencion 24 HORAS*/
    display: flex;
    flex-direction: column; /* Coloca los ítems uno debajo del otro */
    gap: 1vw; /* Espacio entre cada ítem */
}
.contact-item {
    display: flex;
    align-items: center; /* Alinea verticalmente el ícono y el texto */
    gap: 2vw; /* Espacio entre el ícono y el texto */
}
.contact-item img {
    flex-shrink: 0; /* Evita que el ícono se reduzca */
}
.contact-item p {
    margin: 0; /* Elimina el margen alrededor del texto */
}
.social-icons {
    display: flex; /* Muestra los íconos en una fila dentro de un contenedor en línea */
    gap: 10px; /* Espacio entre los íconos */
}
.separator {
    border-left: 1px solid black; /* Línea vertical negra */
    margin: 0.2vw 0; /* Espacio entre las secciones y la línea */
    padding-left: 3vw;
}
.location-section {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: flex-start; /* Alinea los elementos al inicio de la sección */
    left: 3vh;
}
.sede-title {
    font-size: 2vw; /* Tamaño del texto "Nuestra Sede" */
    margin-bottom: 10px; /* Espacio debajo del título */
    font-weight: bold; /* Hace el texto más grueso */
    color: #0c3970;
    left: 3vh;
}
.location-map {
    width: 12.6vw; /* Asegura que la imagen no exceda el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 40px 0; /* Añade un margen vertical alrededor del mapa */
    align-self: flex-end; /* Mueve el mapa a la derecha */
    left: 3vw;
}
.direccion-text {
    font-size: 70%; /* Tamaño del texto de la dirección */
    top: 1vw; /* Espacio encima de la dirección */
    right: 40vw;
}
