body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Esto evita el scroll horizontal */
    width: 100%;
}
/* Encabezado fijo */
.banner {
    margin: 0.4vh;
    position: relative; 
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 85vw; 
    border: 1px solid #27B8D1; 
    padding: 30px; 
    border-radius: 10px; 
    z-index: 1;  
}
/* Contenido del encabezado */
.header-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 100px; 
    flex-wrap: wrap;
}
/* Logo encabezado */
.logo img {
    width: 100px;
    height: auto; 
}
/* Menú del encabezado */
.navigation ul {
    list-style-type: none; 
    margin: 0;
    padding: 0; 
    display: flex; 
    gap: 4vw; 
    flex-wrap: wrap; 
    font-size: 1.2vw;
}
.navigation a {
    text-decoration: none;
    color: #002035;
    font-weight: bold;
    padding: 2px;
    border-radius: 20px;   
}
.navigation a:hover {
    color: #EE6930; /* Color del texto al pasar el ratón */
}
/*Contenido de la pagina*/
.baño-mascota1{
    color: #27B8D1;
    font-size: 1.5em;
    margin-left: 4vw;
    
}
/* Alinear texto e imagen en una fila */
.text-image-group {
    display: flex;
    align-items: center;
    margin-bottom: 4px; /* Espacio inferior entre las secciones */
}

/* Estilo para el contenedor de texto */
.text-content {
    flex: 2; /* El texto ocupará más espacio */
    font-size: 1.3em;
    color: #444;
    margin-right: 30px; /* Espacio entre texto e imagen */
    line-height: 1.6;
    margin: 3.5vw;
    margin-top: -2vh;
    text-align: justify;
}
.texto2{
    text-align: justify;
    font-size: 1.2vw;
    margin: 4vw;
}
/* Estilo para la imagen */
.image-container1 {
    flex: 0 0 25%; /* La imagen ocupará el 40% del ancho del contenedor */
}

.main-image1 {
    max-width: 80%;
    height: auto;
}
/* Alinear imagen 2 a la izquierda y texto a la derecha */
.text-image-group2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* Estilo para la imagen 2 */
.image-container2 {
    flex: 0 0 25%; /* La imagen ocupará el 25% del ancho del contenedor */
    text-align: center;
}

.main-image2 {
    max-width: 80%;
    height: auto;
}

/* Estilo para el texto alineado a la derecha de la imagen */
.text-content2 {
    flex: 1; /* El texto ocupará más espacio */
    font-size: 1.2vw;
    margin-left: 3vw; /* Espacio entre la imagen y el texto */
    text-align: justify;
    line-height: 1.6;
}
.texto3{
    font-size: 1.5vw;
    text-align: left;
    margin: 2em;
}




/*PIE DE PANTALLA */
.footer {
    display: flex;
    background-color: #058da5; /* Color de fondo del pie de página */
    padding: 7px 30px; /* Ajusta el relleno para aumentar la altura */
    position: relative; /* Asegura que los elementos dentro se posicionen correctamente */
    color: black; /* Color del texto */
    font-size: 1vw; /* Tamaño del texto */
}
.footer-follow {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Alinea verticalmente el texto y los íconos */
    flex-direction: row;
    text-align: center; /* Centra el texto dentro del contenedor */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    gap: 5vw; /* Espacio entre el texto y los íconos */
}
.footer-text {
    margin: 0; /* Elimina el margen por defecto */
}
.social {
    display: 10px; /* Muestra los iconos en una fila */
    gap: 10px; /* Espacio entre los iconos */
}
.footer-section {
    padding-right: 4vw;
    font-family: Arial, sans-serif

}
.footer-logo {
    width: 10vw; /* Tamaño del logo */
    height: auto; /* Mantiene la proporción del logo */
    margin-top: 4vw; /* Ajusta este valor para mover el logo hacia abajo */
    border-radius: 5px;
    margin-left: -2vw;
    align-items: center;
    padding-left: 5vw;
}
.contact-info { /* Atencion 24 HORAS*/
    display: flex;
    flex-direction: column; /* Coloca los ítems uno debajo del otro */
    gap: 1vw; /* Espacio entre cada ítem */
}
.contact-item {
    display: flex;
    align-items: center; /* Alinea verticalmente el ícono y el texto */
    gap: 2vw; /* Espacio entre el ícono y el texto */
}
.contact-item img {
    flex-shrink: 0; /* Evita que el ícono se reduzca */
}
.contact-item p {
    margin: 0; /* Elimina el margen alrededor del texto */
}
.social-icons {
    display: flex; /* Muestra los íconos en una fila dentro de un contenedor en línea */
    gap: 10px; /* Espacio entre los íconos */
}
.separator {
    border-left: 1px solid black; /* Línea vertical negra */
    margin: 0.2vw 0; /* Espacio entre las secciones y la línea */
    padding-left: 3vw;
}
.location-section {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: flex-start; /* Alinea los elementos al inicio de la sección */
    left: 3vh;
}
.sede-title {
    font-size: 2vw; /* Tamaño del texto "Nuestra Sede" */
    margin-bottom: 10px; /* Espacio debajo del título */
    font-weight: bold; /* Hace el texto más grueso */
    color: #0c3970;
    left: 3vh;
}
.location-map {
    width: 12.6vw; /* Asegura que la imagen no exceda el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 40px 0; /* Añade un margen vertical alrededor del mapa */
    align-self: flex-end; /* Mueve el mapa a la derecha */
    left: 3vw;
}
.direccion-text {
    font-size: 70%; /* Tamaño del texto de la dirección */
    top: 1vw; /* Espacio encima de la dirección */
    right: 40vw;
}